In [36]:
import pandas as pd
import unicodedata
import numpy as np

In [37]:
df = pd.read_excel("Ar-Fa.xlsx")

In [38]:
df.columns = ["sentences", "lang"]

In [57]:
df

                                            sentences   lang
0          هل يتسبب شداد في تعطيل مشاركة المريخ عربيا   عربی
1                        اتحاد الطائرة يرفض الاستقالة   عربی
2            ادوات تجميل للرجال تشجعهم للتشبه بالنساء   عربی
3            الاتحاد الرياضي يرسل برنامج الدوري العام   عربی
4      الارباب يغادر الاسماعيلية الى جده في مهمة خاصة   عربی
..                                                ...    ...
95  استیلای عرب‌ها به آسیای میانه دگرگونی‌های زیاد...  فارسی
96  هم‌اکنون در کشور تاجیکستان رسماً از خط سیریلیک...  فارسی
97    قبل از انقلاب روسیه خط مردم تاجیکستان پارسی بود  فارسی
98  حرف آ در اسپانیایی در تمام کلمات بدون تغییری ب...  فارسی
99       نام کتاب او اسطورشیا به معنای اصول هندسه‌است  فارسی

[100 rows x 2 columns]

In [83]:
Letters = []
df_alfabet = pd.read_csv("alfabet.csv")
columns = df_alfabet["alfabet"].values


def grepLetter(sentence):
    for letter in sentence:
        if letter in Letters:
            continue
        else:
            Letters.append(letter)

In [94]:
alfabet_count = []
for key, line in enumerate(df.sentences):
    sentence = [word for word in df.sentences[key] if unicodedata.normalize('NFKD', word).replace('\u200c', ' ') != " "]
    dict = {}
    for letter in columns:
        dict[letter] = sum(1 if letter == x else 0 for x in sentence)
    alfabet_count.append(dict)
    # print(sentence)

In [53]:
[word for word in df.sentences[99] if unicodedata.normalize('NFKD', word).replace('\u200c', ' ') != " "]

['ن',
 'ا',
 'م',
 'ک',
 'ت',
 'ا',
 'ب',
 'ا',
 'و',
 'ا',
 'س',
 'ط',
 'و',
 'ر',
 'ش',
 'ی',
 'ا',
 'ب',
 'ه',
 'م',
 'ع',
 'ن',
 'ا',
 'ی',
 'ا',
 'ص',
 'و',
 'ل',
 'ه',
 'ن',
 'د',
 'س',
 'ه',
 'ا',
 'س',
 'ت']

In [75]:
pd.DataFrame(Letters).to_csv("alfabet.csv", index=False)

In [80]:
columns = df_alfabet["alfabet"].values

In [107]:
len(columns)

46

In [96]:
alfabet_count

100

In [100]:
df_alfabet_count=pd.DataFrame.from_dict(alfabet_count)
df_alfabet_count

    ء  آ  أ  ؤ  إ  ئ  ا  ب  ة  ت  ...  ً  َ  ّ  ٔ  پ  چ  ژ  ک  گ  ی
0   0  0  0  0  0  0  4  3  1  2  ...  0  0  0  0  0  0  0  0  0  0
1   0  0  0  0  0  1  7  0  2  2  ...  0  0  0  0  0  0  0  0  0  0
2   1  0  0  0  0  0  5  2  0  4  ...  0  0  0  0  0  0  0  0  0  0
3   0  0  0  0  0  0  9  1  0  1  ...  0  0  0  0  0  0  0  0  0  0
4   0  0  0  0  0  0  9  2  3  0  ...  0  0  0  0  0  0  0  0  0  0
.. .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. .. ..
95  0  2  0  0  0  0  7  2  0  1  ...  0  0  0  0  0  0  0  0  2  9
96  0  0  0  0  0  0  7  0  0  3  ...  1  0  0  0  0  0  0  4  0  5
97  0  0  0  0  0  0  6  3  0  2  ...  0  0  0  0  1  0  0  1  0  3
98  0  1  0  0  0  0  7  2  0  4  ...  0  0  0  0  1  0  0  1  0  7
99  0  0  0  0  0  0  8  2  0  2  ...  0  0  0  0  0  0  0  1  0  2

[100 rows x 46 columns]

In [105]:

df_alfabet_count["Label"]=[ "Ar" if x== "عربی" else  "Fa"   for x in df.lang]

In [106]:
df_alfabet_count

    ء  آ  أ  ؤ  إ  ئ  ا  ب  ة  ت  ...  َ  ّ  ٔ  پ  چ  ژ  ک  گ  ی  Label
0   0  0  0  0  0  0  4  3  1  2  ...  0  0  0  0  0  0  0  0  0     Ar
1   0  0  0  0  0  1  7  0  2  2  ...  0  0  0  0  0  0  0  0  0     Ar
2   1  0  0  0  0  0  5  2  0  4  ...  0  0  0  0  0  0  0  0  0     Ar
3   0  0  0  0  0  0  9  1  0  1  ...  0  0  0  0  0  0  0  0  0     Ar
4   0  0  0  0  0  0  9  2  3  0  ...  0  0  0  0  0  0  0  0  0     Ar
.. .. .. .. .. .. .. .. .. .. ..  ... .. .. .. .. .. .. .. .. ..    ...
95  0  2  0  0  0  0  7  2  0  1  ...  0  0  0  0  0  0  0  2  9     Fa
96  0  0  0  0  0  0  7  0  0  3  ...  0  0  0  0  0  0  4  0  5     Fa
97  0  0  0  0  0  0  6  3  0  2  ...  0  0  0  1  0  0  1  0  3     Fa
98  0  1  0  0  0  0  7  2  0  4  ...  0  0  0  1  0  0  1  0  7     Fa
99  0  0  0  0  0  0  8  2  0  2  ...  0  0  0  0  0  0  1  0  2     Fa

[100 rows x 47 columns]

In [109]:
df_alfabet_count.to_csv("data_frame_alfabet.csv",index=False)